.bimage{
  position: relative;

}
body{
    background-color: #F0F0F0;
}
.bname{
    text-align: center;
    font: 5em sans-serif;
}
.offers{
    font-size: large;
    color: 	#FE347E;
}
.userlogo{
   margin-top: 10px;
}
.userlogo:hover{
  color:#FE347E;
}

.cartlogo{
    margin-top: 10px;
}
.cartlogo:hover{
  color:#FE347E;
}
.hcat{
    text-align: center;
}
h3{
    text-align: center;
}
sub{
    font-size: smaller;
}
h5{
    text-align: center;
}

.labels{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    gap:20px;
    flex-wrap: wrap;
    
    
}
.labeldiv{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.poster{
    height: auto;
    width: 200px;
    
}
.posterdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icons{
    align-items: center;
    color: #1E3050;
}
.icons:hover{
    color: #FE347E;
    width: 20px;
}
.footl{
    color: black;
    text-decoration: none;
}
.footl:hover{
    color: #FE347E;
    
}